* {
    border: 1px dashed deepskyblue;
}

:root {
    --bootdash-search-bg: rgba(229, 229, 229, 1);
    --bootdash-bell: rgba(255, 143, 0, 1);
    --bootdash-banner-bg: rgba(27, 114, 232, 1);
    --bootdash-sidebar-bg: rgba(5, 30, 52, 1);
    --bootdash-sidebar-hover-bg: rgba(248, 249, 250, 0.5);
    --bootdash-banner-badge-bg: rgba(22, 91, 186, 1);
    --bootdash-lighter: rgba(248, 249, 250, 1);
}

body {
    font-family: "Roboto", sans-serif;
}

/* #region header */

    .navbar_brand_mobile {
        & img {
            height: 43px;
            margin: -0.5rem 0;
        }
        
        @media screen and (min-width:768px) {
            display: none;
        }
    }
    
    .navbar_brand_desktop {
        display: none;
        height: 42px;
        
        @media screen and (min-width:768px) {
            display: inline-block;
        }
    }
    /* /navbar-brand */
    
nav {
    & [type="search"] {
        background-color: var(--bootdash-search-bg);
        font-family: "Roboto", FontAwesome, sans-serif;
    }
}

.bell {
    & i {
        color: var(--bootdash-bell);
    }
}

/* #endregion header */


/* #region main */

/* #region sidebar */
.sidebar {
    min-width: 50px;
    background-color: var(--bootdash-sidebar-bg);
    background-image: url(../img/sidebar-bg.png);

    @media screen and (min-width:768px) {
        min-width: 130px;
        }

    & a {
        color: var(--bootdash-lighter);

        & i {
            width: 30px;
        }

        & span {
            display: none;

            @media screen and (min-width:768px) {
            display: inline-block;
            }
        }
    }

    & a:hover {
        color: var(--bootdash-lighter);
        background-color: var(--bootdash-sidebar-hover-bg);
    }
}
/* #endregion sidebar */

/* #region banner */
.banner {
    background-color: var(--bootdash-banner-bg);

    .badge {
        background-color: var(--bootdash-banner-badge-bg);
    }

    .offcanvas.offcanvas-end {
        width: 100%;

        @media screen and (min-width:768px) {
            width: 50%;
            }
    }

    .app_badges {
        .app_menu {
            display: none;
        }

        .app_number {
            min-width: 70px;
        }

        .app_menu {
            display: none;
        }

        @media screen and (min-width:768px) {
            button {
                display: none;
            }

            .app_menu {
                display: block;
            }
            }
    }
}
/* #endregion banner */

/* #region main_content */
.main_content {
    height: calc(100vh - 58px);
}







/* #endregion main_content */

/* #endregion main */